body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 20px;
    transition: background-color 0.3s ease;
    background-color: darkslategrey;
    }
    article {
    order: 1;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    }
    article::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    }
    article:hover {
    background-color: black;
    transform: scale(1.1);
    }
    article:hover::before {
    opacity: 1;
    }
    address {
    order: 2;
    }